body{
	font-family:sans-serif;
	
}

.submission-form{
  max-width:500px;
  margin:2rem auto;
  border:2px solid #f2f2f2;
  padding: 2rem;
  label{
	  display:block;
	  padding: 1rem 0 .25rem;
	  text-transform:uppercase;
	  font-size: 14px;
  }
  input, textarea{
	  display:block;
	  width:100%;
	  padding: .5rem;
	  font-size: 18px;
  }
  
}

#sendBtn{
	border:0;
	background:#737373;
	padding: .rem;
	color: white;
	margin: 1rem 0;
	width: auto;
	text-transform: uppercase;
	cursor:pointer;
	&: hover{
		background: #595959
	}
}